USE [TestExam]
GO
/****** Object:  Table [dbo].[Admins]    Script Date: 6/9/2019 21:48:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admins](
	[AdminId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](20) NOT NULL,
	[Password] [varchar](32) NOT NULL,
	[Email] [varchar](100) NULL,
	[Avatar] [varchar](255) NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Gender] [nvarchar](50) NOT NULL,
	[Birthday] [date] NOT NULL,
	[Phone] [varchar](45) NULL,
	[PermissionId] [int] NOT NULL,
	[LastLogin] [datetime] NULL,
	[LastSeen] [nvarchar](100) NULL,
	[LastSeenUrl] [varchar](100) NULL,
	[TimeStamps] [datetime] NULL,
 CONSTRAINT [PK_Admins] PRIMARY KEY CLUSTERED 
(
	[AdminId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Classes]    Script Date: 6/9/2019 21:48:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Classes](
	[ClassId] [int] IDENTITY(1,1) NOT NULL,
	[ClassName] [nvarchar](50) NOT NULL,
	[GradeId] [int] NOT NULL,
	[SpecialityId] [int] NOT NULL,
	[TimeStamps] [datetime] NULL,
 CONSTRAINT [PK_Classes] PRIMARY KEY CLUSTERED 
(
	[ClassId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Grades]    Script Date: 6/9/2019 21:48:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Grades](
	[GradeId] [int] IDENTITY(1,1) NOT NULL,
	[GradeName] [nvarchar](50) NOT NULL,
	[TimeStamps] [datetime] NULL,
 CONSTRAINT [PK_Grades] PRIMARY KEY CLUSTERED 
(
	[GradeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permissions]    Script Date: 6/9/2019 21:48:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permissions](
	[PermissionId] [int] IDENTITY(1,1) NOT NULL,
	[PermissionName] [nvarchar](50) NOT NULL,
	[TimeStamps] [datetime] NULL,
 CONSTRAINT [PK_Permissions] PRIMARY KEY CLUSTERED 
(
	[PermissionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Questions]    Script Date: 6/9/2019 21:48:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Questions](
	[QuestionId] [int] IDENTITY(1,1) NOT NULL,
	[SubjectId] [int] NOT NULL,
	[Unit] [int] NOT NULL,
	[ImgContent] [varchar](255) NULL,
	[Content] [ntext] NOT NULL,
	[AnswerA] [ntext] NOT NULL,
	[AnswerB] [ntext] NOT NULL,
	[AnswerC] [ntext] NOT NULL,
	[AnswerD] [ntext] NOT NULL,
	[CorrectAnswer] [ntext] NOT NULL,
	[TimeStamps] [datetime] NULL,
 CONSTRAINT [PK_Questions] PRIMARY KEY CLUSTERED 
(
	[QuestionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuestOfTest]    Script Date: 6/9/2019 21:48:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuestOfTest](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TestCode] [int] NOT NULL,
	[QuestionId] [int] NOT NULL,
	[TimeStamps] [datetime] NULL,
 CONSTRAINT [PK_QuestOfTest] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Scores]    Script Date: 6/9/2019 21:48:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Scores](
	[ScoreId] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [int] NOT NULL,
	[TestCode] [int] NOT NULL,
	[ScoreNumber] [float] NOT NULL,
	[Detail] [nchar](50) NOT NULL,
	[TimeFinish] [datetime] NULL,
 CONSTRAINT [PK_Scores] PRIMARY KEY CLUSTERED 
(
	[ScoreId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Specialities]    Script Date: 6/9/2019 21:48:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Specialities](
	[SpecialityId] [int] IDENTITY(1,1) NOT NULL,
	[SpecialityName] [nvarchar](255) NOT NULL,
	[TimeStamps] [datetime] NULL,
 CONSTRAINT [PK_Specialities] PRIMARY KEY CLUSTERED 
(
	[SpecialityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Statuses]    Script Date: 6/9/2019 21:48:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Statuses](
	[StatusId] [int] IDENTITY(1,1) NOT NULL,
	[StatusName] [nvarchar](50) NOT NULL,
	[TimeStamps] [datetime] NULL,
 CONSTRAINT [PK_Statuses] PRIMARY KEY CLUSTERED 
(
	[StatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 6/9/2019 21:48:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[StudentId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](50) NOT NULL,
	[Password] [varchar](32) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Avatar] [varchar](255) NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Gender] [nvarchar](50) NOT NULL,
	[Birthday] [date] NOT NULL,
	[Phone] [varchar](45) NULL,
	[PermissionId] [int] NOT NULL,
	[ClassId] [int] NOT NULL,
	[SpecialityId] [int] NOT NULL,
	[IsTestting] [int] NULL,
	[TimeStart] [datetime] NULL,
	[TimeRemaining] [varchar](10) NULL,
	[LastLogin] [datetime] NULL,
	[LastSeen] [nvarchar](100) NULL,
	[LastSeenUrl] [varchar](100) NULL,
	[TimeStamps] [datetime] NULL,
 CONSTRAINT [PK_Students] PRIMARY KEY CLUSTERED 
(
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentTestDetail]    Script Date: 6/9/2019 21:48:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentTestDetail](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [int] NOT NULL,
	[TestCode] [int] NOT NULL,
	[QuestionId] [int] NOT NULL,
	[AnswerA] [ntext] NOT NULL,
	[AnswerB] [ntext] NOT NULL,
	[AnswerC] [ntext] NOT NULL,
	[AnswerD] [ntext] NOT NULL,
	[StudentAnswer] [ntext] NULL,
	[TimeStamps] [datetime] NULL,
 CONSTRAINT [PK_StudentTestDetail] PRIMARY KEY CLUSTERED 
(
	[StudentId] ASC,
	[TestCode] ASC,
	[QuestionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subjects]    Script Date: 6/9/2019 21:48:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subjects](
	[SubjectId] [int] IDENTITY(1,1) NOT NULL,
	[SubjectName] [nvarchar](255) NOT NULL,
	[TimeStamps] [datetime] NULL,
 CONSTRAINT [PK_Subjects] PRIMARY KEY CLUSTERED 
(
	[SubjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teachers]    Script Date: 6/9/2019 21:48:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teachers](
	[TeacherId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](20) NOT NULL,
	[Password] [varchar](32) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Avatar] [varchar](255) NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Gender] [nvarchar](50) NOT NULL,
	[Birthday] [date] NOT NULL,
	[Phone] [varchar](45) NULL,
	[PermissionId] [int] NOT NULL,
	[SpecialityId] [int] NOT NULL,
	[LastLogin] [datetime] NULL,
	[LastSeen] [nvarchar](100) NULL,
	[LastSeenUrl] [varchar](100) NULL,
 CONSTRAINT [PK_Teachers] PRIMARY KEY CLUSTERED 
(
	[TeacherId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tests]    Script Date: 6/9/2019 21:48:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tests](
	[TestName] [nvarchar](255) NOT NULL,
	[TestCode] [int] NOT NULL,
	[Password] [varchar](32) NOT NULL,
	[SubjectId] [int] NOT NULL,
	[QuestionsTotal] [int] NOT NULL,
	[TimeToDo] [int] NOT NULL,
	[Note] [ntext] NULL,
	[StatusId] [int] NOT NULL,
	[TimeStamps] [datetime] NULL,
 CONSTRAINT [PK_Tests] PRIMARY KEY CLUSTERED 
(
	[TestCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admins] ON 

INSERT [dbo].[Admins] ([AdminId], [UserName], [Password], [Email], [Avatar], [Name], [Gender], [Birthday], [Phone], [PermissionId], [LastLogin], [LastSeen], [LastSeenUrl], [TimeStamps]) VALUES (1, N'admin', N'123456', N'tronghau112@gmail.com.vn', NULL, N'admin', N'Nam', CAST(N'1997-10-17' AS Date), NULL, 1, CAST(N'2019-06-09T21:45:58.260' AS DateTime), N'Quản Lý Bài Thi', N'/Admin/TestManager', NULL)
INSERT [dbo].[Admins] ([AdminId], [UserName], [Password], [Email], [Avatar], [Name], [Gender], [Birthday], [Phone], [PermissionId], [LastLogin], [LastSeen], [LastSeenUrl], [TimeStamps]) VALUES (3, N'admin2', N'123456', N'tronghau112@gmail.com', N'avatar-default.jpg', N'Hậu', N'Nam', CAST(N'1997-10-17' AS Date), NULL, 1, CAST(N'2019-06-02T23:37:33.037' AS DateTime), N'Quản Lý Admin', N'/Admin/AdminManager', NULL)
INSERT [dbo].[Admins] ([AdminId], [UserName], [Password], [Email], [Avatar], [Name], [Gender], [Birthday], [Phone], [PermissionId], [LastLogin], [LastSeen], [LastSeenUrl], [TimeStamps]) VALUES (4, N'admin3', N'123456', N'abc@gmail.com', N'avatar-default.jpg', N'admin3', N'Nam', CAST(N'1997-01-01' AS Date), NULL, 1, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Admins] OFF
SET IDENTITY_INSERT [dbo].[Classes] ON 

INSERT [dbo].[Classes] ([ClassId], [ClassName], [GradeId], [SpecialityId], [TimeStamps]) VALUES (1, N'KHMT2015', 1, 2, NULL)
SET IDENTITY_INSERT [dbo].[Classes] OFF
SET IDENTITY_INSERT [dbo].[Grades] ON 

INSERT [dbo].[Grades] ([GradeId], [GradeName], [TimeStamps]) VALUES (1, N'10', NULL)
INSERT [dbo].[Grades] ([GradeId], [GradeName], [TimeStamps]) VALUES (2, N'11', NULL)
INSERT [dbo].[Grades] ([GradeId], [GradeName], [TimeStamps]) VALUES (3, N'12', NULL)
SET IDENTITY_INSERT [dbo].[Grades] OFF
SET IDENTITY_INSERT [dbo].[Permissions] ON 

INSERT [dbo].[Permissions] ([PermissionId], [PermissionName], [TimeStamps]) VALUES (1, N'Admin', NULL)
INSERT [dbo].[Permissions] ([PermissionId], [PermissionName], [TimeStamps]) VALUES (2, N'Teacher', NULL)
INSERT [dbo].[Permissions] ([PermissionId], [PermissionName], [TimeStamps]) VALUES (3, N'Student', NULL)
SET IDENTITY_INSERT [dbo].[Permissions] OFF
SET IDENTITY_INSERT [dbo].[Questions] ON 

INSERT [dbo].[Questions] ([QuestionId], [SubjectId], [Unit], [ImgContent], [Content], [AnswerA], [AnswerB], [AnswerC], [AnswerD], [CorrectAnswer], [TimeStamps]) VALUES (46, 8, 7, N'noimage.png', N'Niên đại nào sau đây gắn với chiến dịch Điện Biên Phủ ?', N'01-5 đến 5-7-1954', N'Tất cả các niên đại trên', N'30-3 đến 26-4-1954', N'30-3 đến 24-4-1954', N'30-3 đến 26-4-1954', NULL)
INSERT [dbo].[Questions] ([QuestionId], [SubjectId], [Unit], [ImgContent], [Content], [AnswerA], [AnswerB], [AnswerC], [AnswerD], [CorrectAnswer], [TimeStamps]) VALUES (47, 8, 7, N'noimage.png', N'Lấy thân mình lấp lỗ châu mai là hành động của anh hùng nào trong chiến dịch lịch sử Điện Biên Phủ 1954?', N'Tô Vĩnh Diện', N'Bế Văn Đàn', N'Phan Đình Giót', N'La Văn Cầu', N'Phan Đình Giót', NULL)
INSERT [dbo].[Questions] ([QuestionId], [SubjectId], [Unit], [ImgContent], [Content], [AnswerA], [AnswerB], [AnswerC], [AnswerD], [CorrectAnswer], [TimeStamps]) VALUES (48, 8, 7, N'noimage.png', N'Thắng lợi quyết định nhất trong cuộc kháng chiến chống Pháp của nhân dân ta thể hiện trên mặt trận nào', N'Chính trị, văn hóa', N'Chính trị, ngoại giao', N' Quân sự', N'Kinh tế ,văn hóa', N' Quân sự', NULL)
SET IDENTITY_INSERT [dbo].[Questions] OFF
SET IDENTITY_INSERT [dbo].[QuestOfTest] ON 

INSERT [dbo].[QuestOfTest] ([Id], [TestCode], [QuestionId], [TimeStamps]) VALUES (177, 5918, 68, NULL)
INSERT [dbo].[QuestOfTest] ([Id], [TestCode], [QuestionId], [TimeStamps]) VALUES (178, 5918, 70, NULL)
INSERT [dbo].[QuestOfTest] ([Id], [TestCode], [QuestionId], [TimeStamps]) VALUES (179, 5918, 76, NULL)
SET IDENTITY_INSERT [dbo].[QuestOfTest] OFF
SET IDENTITY_INSERT [dbo].[Scores] ON 

INSERT [dbo].[Scores] ([ScoreId], [StudentId], [TestCode], [ScoreNumber], [Detail], [TimeFinish]) VALUES (53, 5, 5918, 6.666, N'2/3                                               ', CAST(N'2019-06-06T02:45:49.577' AS DateTime))
INSERT [dbo].[Scores] ([ScoreId], [StudentId], [TestCode], [ScoreNumber], [Detail], [TimeFinish]) VALUES (54, 5, 3957, 2.5, N'2/8                                               ', CAST(N'2019-06-06T02:51:55.373' AS DateTime))
INSERT [dbo].[Scores] ([ScoreId], [StudentId], [TestCode], [ScoreNumber], [Detail], [TimeFinish]) VALUES (55, 8, 5133, 3, N'3/10                                              ', CAST(N'2019-06-06T03:46:32.033' AS DateTime))
SET IDENTITY_INSERT [dbo].[Scores] OFF
SET IDENTITY_INSERT [dbo].[Specialities] ON 

INSERT [dbo].[Specialities] ([SpecialityId], [SpecialityName], [TimeStamps]) VALUES (1, N'NONE', NULL)
INSERT [dbo].[Specialities] ([SpecialityId], [SpecialityName], [TimeStamps]) VALUES (2, N'KHMT', NULL)
INSERT [dbo].[Specialities] ([SpecialityId], [SpecialityName], [TimeStamps]) VALUES (3, N'HTTT', NULL)
SET IDENTITY_INSERT [dbo].[Specialities] OFF
SET IDENTITY_INSERT [dbo].[Statuses] ON 

INSERT [dbo].[Statuses] ([StatusId], [StatusName], [TimeStamps]) VALUES (1, N'Mở', NULL)
INSERT [dbo].[Statuses] ([StatusId], [StatusName], [TimeStamps]) VALUES (2, N'Đóng', NULL)
SET IDENTITY_INSERT [dbo].[Statuses] OFF
SET IDENTITY_INSERT [dbo].[Students] ON 

INSERT [dbo].[Students] ([StudentId], [UserName], [Password], [Email], [Avatar], [Name], [Gender], [Birthday], [Phone], [PermissionId], [ClassId], [SpecialityId], [IsTestting], [TimeStart], [TimeRemaining], [LastLogin], [LastSeen], [LastSeenUrl], [TimeStamps]) VALUES (5, N'haudt', N'123456', N'tronghau112@gmail.com', N'avatar-default.jpg', N'Đinh Trọng Hậu', N'Nam', CAST(N'1997-10-17' AS Date), NULL, 3, 1, 2, NULL, NULL, NULL, CAST(N'2019-06-08T14:32:35.267' AS DateTime), N'Trang Chủ', N'/Student', NULL)
INSERT [dbo].[Students] ([StudentId], [UserName], [Password], [Email], [Avatar], [Name], [Gender], [Birthday], [Phone], [PermissionId], [ClassId], [SpecialityId], [IsTestting], [TimeStart], [TimeRemaining], [LastLogin], [LastSeen], [LastSeenUrl], [TimeStamps]) VALUES (8, N'student', N'123456', N'student@gmail.com', N'avatar-default.jpg', N'student', N'Nam', CAST(N'1997-01-01' AS Date), NULL, 3, 1, 1, NULL, NULL, NULL, CAST(N'2019-06-09T21:45:26.417' AS DateTime), N'Trang Chủ', N'/Student', NULL)
SET IDENTITY_INSERT [dbo].[Students] OFF
SET IDENTITY_INSERT [dbo].[StudentTestDetail] ON 

INSERT [dbo].[StudentTestDetail] ([Id], [StudentId], [TestCode], [QuestionId], [AnswerA], [AnswerB], [AnswerC], [AnswerD], [StudentAnswer], [TimeStamps]) VALUES (371, 5, 3957, 68, N'82543', N'82443', N'83433', N'83543', N'82543', NULL)
INSERT [dbo].[StudentTestDetail] ([Id], [StudentId], [TestCode], [QuestionId], [AnswerA], [AnswerB], [AnswerC], [AnswerD], [StudentAnswer], [TimeStamps]) VALUES (369, 5, 3957, 71, N' \(\left( { - \infty ;2018} \right)\).', N' \(\left\{ {2018} \right\}\).', N'\(\emptyset \).	', N'\(\left( {2018; + \infty } \right)\).	', N'\(\left( { - \infty ;2018} \right)\).', NULL)
INSERT [dbo].[StudentTestDetail] ([Id], [StudentId], [TestCode], [QuestionId], [AnswerA], [AnswerB], [AnswerC], [AnswerD], [StudentAnswer], [TimeStamps]) VALUES (376, 5, 3957, 72, N' 4039.	', N' 2019.', N' 4038.	', N' 2018.', N'2019.', NULL)
SET IDENTITY_INSERT [dbo].[StudentTestDetail] OFF
SET IDENTITY_INSERT [dbo].[Subjects] ON 

INSERT [dbo].[Subjects] ([SubjectId], [SubjectName], [TimeStamps]) VALUES (5, N'Mác-Lenin', NULL)
INSERT [dbo].[Subjects] ([SubjectId], [SubjectName], [TimeStamps]) VALUES (8, N'Sử', NULL)
INSERT [dbo].[Subjects] ([SubjectId], [SubjectName], [TimeStamps]) VALUES (9, N'Toán', NULL)
SET IDENTITY_INSERT [dbo].[Subjects] OFF
SET IDENTITY_INSERT [dbo].[Teachers] ON 

INSERT [dbo].[Teachers] ([TeacherId], [UserName], [Password], [Email], [Avatar], [Name], [Gender], [Birthday], [Phone], [PermissionId], [SpecialityId], [LastLogin], [LastSeen], [LastSeenUrl]) VALUES (1, N'teacher', N'123456', N'teacher@gmail.com', NULL, N'Teacher', N'Nam', CAST(N'1997-10-10' AS Date), NULL, 2, 1, CAST(N'2019-06-09T21:45:47.557' AS DateTime), N'Trang Chủ', N'/Teacher')
INSERT [dbo].[Teachers] ([TeacherId], [UserName], [Password], [Email], [Avatar], [Name], [Gender], [Birthday], [Phone], [PermissionId], [SpecialityId], [LastLogin], [LastSeen], [LastSeenUrl]) VALUES (3, N'teacher3', N'', N'teacher@gmail.com', N'avatar-default.jpg', N'Teacher3', N'Nam', CAST(N'1997-01-01' AS Date), NULL, 2, 2, CAST(N'2019-06-02T18:01:10.893' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Teachers] OFF
INSERT [dbo].[Tests] ([TestName], [TestCode], [Password], [SubjectId], [QuestionsTotal], [TimeToDo], [Note], [StatusId], [TimeStamps]) VALUES (N'testSu', 285, N'1', 8, 8, 8, N'', 1, NULL)
INSERT [dbo].[Tests] ([TestName], [TestCode], [Password], [SubjectId], [QuestionsTotal], [TimeToDo], [Note], [StatusId], [TimeStamps]) VALUES (N'TEST', 3957, N'1', 9, 8, 10, N'', 2, NULL)
INSERT [dbo].[Tests] ([TestName], [TestCode], [Password], [SubjectId], [QuestionsTotal], [TimeToDo], [Note], [StatusId], [TimeStamps]) VALUES (N'TESTLY', 5133, N'1', 12, 10, 15, N'Test Lý', 1, NULL)
ALTER TABLE [dbo].[Admins]  WITH CHECK ADD  CONSTRAINT [FK_Admins_Permissions] FOREIGN KEY([PermissionId])
REFERENCES [dbo].[Permissions] ([PermissionId])
GO
ALTER TABLE [dbo].[Admins] CHECK CONSTRAINT [FK_Admins_Permissions]
GO
ALTER TABLE [dbo].[Classes]  WITH CHECK ADD  CONSTRAINT [FK_Classes_Grades] FOREIGN KEY([GradeId])
REFERENCES [dbo].[Grades] ([GradeId])
GO
ALTER TABLE [dbo].[Classes] CHECK CONSTRAINT [FK_Classes_Grades]
GO
ALTER TABLE [dbo].[Classes]  WITH CHECK ADD  CONSTRAINT [FK_Classes_Specialities] FOREIGN KEY([SpecialityId])
REFERENCES [dbo].[Specialities] ([SpecialityId])
GO
ALTER TABLE [dbo].[Classes] CHECK CONSTRAINT [FK_Classes_Specialities]
GO
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD  CONSTRAINT [FK_Questions_Subjects] FOREIGN KEY([SubjectId])
REFERENCES [dbo].[Subjects] ([SubjectId])
GO
ALTER TABLE [dbo].[Questions] CHECK CONSTRAINT [FK_Questions_Subjects]
GO
ALTER TABLE [dbo].[QuestOfTest]  WITH CHECK ADD  CONSTRAINT [FK_QuestOfTest_Questions] FOREIGN KEY([QuestionId])
REFERENCES [dbo].[Questions] ([QuestionId])
GO
ALTER TABLE [dbo].[QuestOfTest] CHECK CONSTRAINT [FK_QuestOfTest_Questions]
GO
ALTER TABLE [dbo].[QuestOfTest]  WITH CHECK ADD  CONSTRAINT [FK_QuestOfTest_Tests] FOREIGN KEY([TestCode])
REFERENCES [dbo].[Tests] ([TestCode])
GO
ALTER TABLE [dbo].[QuestOfTest] CHECK CONSTRAINT [FK_QuestOfTest_Tests]
GO
ALTER TABLE [dbo].[Scores]  WITH CHECK ADD  CONSTRAINT [FK_Scores_Students] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([StudentId])
GO
ALTER TABLE [dbo].[Scores] CHECK CONSTRAINT [FK_Scores_Students]
GO
ALTER TABLE [dbo].[Scores]  WITH CHECK ADD  CONSTRAINT [FK_Scores_Tests] FOREIGN KEY([TestCode])
REFERENCES [dbo].[Tests] ([TestCode])
GO
ALTER TABLE [dbo].[Scores] CHECK CONSTRAINT [FK_Scores_Tests]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_Students_Classes] FOREIGN KEY([ClassId])
REFERENCES [dbo].[Classes] ([ClassId])
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_Students_Classes]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_Students_Permissions] FOREIGN KEY([PermissionId])
REFERENCES [dbo].[Permissions] ([PermissionId])
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_Students_Permissions]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_Students_Specialities] FOREIGN KEY([SpecialityId])
REFERENCES [dbo].[Specialities] ([SpecialityId])
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_Students_Specialities]
GO
ALTER TABLE [dbo].[StudentTestDetail]  WITH CHECK ADD  CONSTRAINT [FK_StudentTestDetail_Questions] FOREIGN KEY([QuestionId])
REFERENCES [dbo].[Questions] ([QuestionId])
GO
ALTER TABLE [dbo].[StudentTestDetail] CHECK CONSTRAINT [FK_StudentTestDetail_Questions]
GO
ALTER TABLE [dbo].[StudentTestDetail]  WITH CHECK ADD  CONSTRAINT [FK_StudentTestDetail_Students] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([StudentId])
GO
ALTER TABLE [dbo].[StudentTestDetail] CHECK CONSTRAINT [FK_StudentTestDetail_Students]
GO
ALTER TABLE [dbo].[Teachers]  WITH CHECK ADD  CONSTRAINT [FK_Teachers_Permissions] FOREIGN KEY([PermissionId])
REFERENCES [dbo].[Permissions] ([PermissionId])
GO
ALTER TABLE [dbo].[Teachers] CHECK CONSTRAINT [FK_Teachers_Permissions]
GO
ALTER TABLE [dbo].[Teachers]  WITH CHECK ADD  CONSTRAINT [FK_Teachers_Specialities] FOREIGN KEY([PermissionId])
REFERENCES [dbo].[Specialities] ([SpecialityId])
GO
ALTER TABLE [dbo].[Teachers] CHECK CONSTRAINT [FK_Teachers_Specialities]
GO
ALTER TABLE [dbo].[Tests]  WITH CHECK ADD  CONSTRAINT [FK_Tests_Statuses] FOREIGN KEY([StatusId])
REFERENCES [dbo].[Statuses] ([StatusId])
GO
ALTER TABLE [dbo].[Tests] CHECK CONSTRAINT [FK_Tests_Statuses]
GO
ALTER TABLE [dbo].[Tests]  WITH CHECK ADD  CONSTRAINT [FK_Tests_Subjects] FOREIGN KEY([SubjectId])
REFERENCES [dbo].[Subjects] ([SubjectId])
GO
ALTER TABLE [dbo].[Tests] CHECK CONSTRAINT [FK_Tests_Subjects]
GO
